.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  opacity: 0.95;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.dot {
  /* position: absolute; */
  /* /* min-width: 10px; */
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: 8px;
  right: -8px;
}

.navbar li {
  cursor: pointer;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #e14d08;
}
