.food-display {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.food-display h2 {
  font-size: max(2vw, 24px);
  font-weight: 600;
}
.food-display-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}
.floating-button {
  position: fixed;
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  z-index: 1000; /* Ensures it stays on top of other content */
  /* Optional styling */
  padding: 15px 25px;
  background-color: #f18374;
  color: rgb(214, 56, 56);
  border-radius: 50px;
  text-decoration: none;
}

.dot {
  /* position: absolute; */
  /* /* min-width: 10px; */
  min-height: 1px;
  border-radius: 5px;
  top: 2px;
  right: 1px;
}
